@use '../../scss/abstracts/index' as *;

.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $padding-small;
  height: 100vh;
  background-image: url('../../../public/images/bakery_sm.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;

  @include for-size(m) {
    background-image: url('../../../public/images//bakery_lg.jpg');
  }

  &:after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($color-black, 0.65);
    z-index: 1;
  }

  &-title,
  &-subtitle,
  &-icon,
  &-cta {
    position: relative;
    z-index: 2;
  }
}
