@use '../../scss/abstracts/index' as *;
@use '../../components/ContactBox/ContactBox';

.Contact {
  padding: $padding-large 0;
  text-align: center;

  &-title {
    grid-column: 1/-1;
    text-align: center;
  }

  &-box {
    grid-column: 1/-1;
    margin-top: $padding-small;
  }
}
