@use '../../scss/abstracts/index' as *;

.Cta {
  color: $color-black;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-weight: bold;

  &--primary,
  &--secondary {
    background-color: $color-primary;
    border: 3px solid $color-secondary;
    font-size: $font-size-small;
    color: $color-black;
    border-radius: 8px;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-black;
      border: 3px solid $color-primary;
      color: $color-primary;
      transform: translateY(-5px);
    }
  }

  &--primary {
    padding: 16px 0;
    font-family: $font-primary;
    display: inline-block;
    width: 100%;
    margin-bottom: $padding-x-small;
    &:last-child {
      background-color: $color-black;
      border: 3px solid $color-primary;
      color: $color-primary;
      &:active,
      &:focus,
      &:hover {
        background-color: $color-primary;
        border: 3px solid $color-secondary;
        color: $color-black;
        transform: translateY(-5px);
      }
    }
  }

  &--secondary {
    padding: 12px 24px;
    font-family: $font-secondary;
  }

  &--terciary,
  &--cuaternary {
    display: grid;
    place-items: center;
    border-radius: 50%;
    height: 70px;
    padding: 5px;
    width: 70px;

    &:active,
    &:focus,
    &:hover {
      transform: rotate(-20deg);
    }
  }

  &--terciary {
    background-color: transparent;
    border: 3px solid $color-black;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-primary;
    }
  }

  &--cuaternary {
    background-color: $color-primary;
    border: 3px solid $color-black;
    color: $color-black;
    &-fixed {
      position: fixed;
      top: 2.5%;
      left: 16px;
      & > img {
        filter: brightness(0%);
      }
      @include for-size(m) {
        display: none;
      }
    }
  }
}
