@use '../../scss/abstracts/index' as *;

.Product {
  border: 3px solid $color-black;
  padding: $padding-small;
  text-align: center;

  &-title,
  &-description {
    margin-bottom: $padding-small;
  }
}
