// Importa aquí tus fuentes.
@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

$font-primary: 'Arvo', serif;
$font-secondary: 'Open Sans', sans-serif;

$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 30px;
$font-size-extra-large: 48px;
