@use '../../scss/abstracts/index' as *;

.ContactBox {
  padding: $padding-small 0 20px;
  background-color: $color-black;
  color: $color-white;
  @include for-size(m) {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    &-block {
      margin: 0;
    }
  }

  &-block {
    margin: 0 0 20px;
  }
}
