@use '../../scss/abstracts/index' as *;

.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: transform 150ms ease-in-out;

  &.nav-hidden {
    transform: translateY(-15vh);
  }

  a {
    color: $color-black;
    text-decoration: none;
  }

  &--light a {
    color: $color-white;
  }

  &-list {
    justify-content: center;
    background-color: rgba($color: $color-black, $alpha: 0.75);

    @media screen and (max-width: $m) {
      & {
        padding: 0.75rem 1.25rem;
        position: fixed;
        top: 12%;
        transform: translateX(-100vw);
        transition: transform 0.3s;
      }
      .Nav {
        padding: 16px 0 0;
      }
    }

    @include for-size(m) {
      display: flex;
      gap: $padding-small;
      align-items: center;
      height: 4.8rem;
    }
  }

  &-item {
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: 300;
    line-height: 2;
    transition: all 0.3s ease;

    &:active,
    &:focus,
    &:hover {
      border-bottom: 3px solid $color-primary;
    }
  }
}

.menu-open {
  transform: translateX(0);
}
